@font-face {
font-family: 'Roboto';
src: url('fonts/roboto/Roboto-Light-webfont.eot');
src: url('fonts/roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
     url('fonts/roboto/Roboto-Light-webfont.woff') format('woff'),
     url('fonts/roboto/Roboto-Light-webfont.ttf') format('truetype'),
     url('fonts/roboto/Roboto-Light-webfont.svg#RobotoRegular') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Roboto-Bold';
src: url('fonts/roboto/Roboto-BoldCondensed-webfont.eot');
src: url('fonts/roboto/Roboto-BoldCondensed-webfont.eot?#iefix') format('embedded-opentype'),
     url('fonts/roboto/Roboto-BoldCondensed-webfont.woff') format('woff'),
     url('fonts/roboto/Roboto-BoldCondensed-webfont.ttf') format('truetype'),
     url('fonts/roboto/Roboto-BoldCondensed-webfont.svg#RobotoRegular') format('svg');
font-weight: normal;
font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: 'Roboto-Bold';
}

p {
  color: gray;
  font-family: 'Roboto';
  font-size: 150%;
}

/** ./style.css **/
/* Jumbotron */


.home {
  background: linear-gradient(
      rgba(50, 75, 127, 0.45),
      rgba(0, 0, 0, 0)
    ),
    url('assets/home-cover.jpg') center / cover;
  height: 200px;
}

.blog {
  background: linear-gradient(
      rgba(50, 75, 127, 0.45),
      rgba(0, 0, 0, 0)
    ),
    url('assets/blog-cover.jpg') center / cover;
  height: 200px;
}

.projects {
  background: linear-gradient(
      rgba(50, 75, 127, 0.45),
      rgba(0, 0, 0, 0)
    ),
    url('assets/projects-cover.jpg') center / cover;
  height: 200px;
}

.about {
  background: linear-gradient(
      rgba(50, 75, 127, 0.45),
      rgba(0, 0, 0, 0)
    ),
    url('assets/about-cover.jpg') center / cover;
  height: 200px;
}

.contact {
  background: linear-gradient(
      rgba(50, 75, 127, 0.45),
      rgba(0, 0, 0, 0)
    ),
    url('assets/contact-cover.jpg') center / cover;
  height: 200px;
}

.error {
  background: linear-gradient(
      rgba(50, 75, 127, 0.45),
      rgba(0, 0, 0, 0)
    ),
    url('assets/error-cover.jpg') center / cover;
  height: 200px;
}

/* Nav Bar */
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  background: rgba(0, 0, 0, 1);
  color: white;
}

.demo-layout-transparent_sub .mdl-layout__header_home,
.demo-layout-transparent_sub .mdl-layout__drawer-button_home {
  background: rgba(0, 0, 0, 0);
  color: white;
}

.demo-layout-transparent_sub .mdl-layout__header,
.demo-layout-transparent_sub .mdl-layout__drawer-button {
  background: rgba(0, 0, 0, .5);
  color: white;
}

.mdl-navigation__link:hover {
    background-color: #4876ff;
}

/* Header Text */
.header-text{
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
  color: white;
  font-size: 700%;
}
/* Content Wrapper */
.container{
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 775px) {
    .header-text{
        font-size: 530%;
    }
}
@media screen and (max-width: 600px) {
    .demo-layout-transparent .mdl-layout__header .mdl-navigation{
        
    }
    .mdl-layout-title, .mdl-layout-spacer {
        display: none;
    }
    .header-text{
        font-size: 400%;
    }
}
@media screen and (max-width: 500px) {
     .mdl-layout__header-row {
        margin: 0;
        padding: 0;
    }
    .header-text{
        font-size: 380%;
    }
}
@media screen and (max-width: 430px) {
     .mdl-layout-title, .mdl-navigation__link {
        font-size: 80%;
    }
    .header-text{
        font-size: 300%;
    }
}
@media screen and (max-width: 360px) {
     .mdl-layout__header-row {
        margin: 0;
        padding: 0;
    }
    .header-text{
        font-size: 290%;
    }
};

